<%= render "header"%>
<div class="main">
  <img src="https://thumb.photo-ac.com/b2/b25c9ff75ba11e02ea035accee8cd1a7_w.jpg" alt="背景" class="background">
   <div class="itiran">
    <div class="title">
     <b>投稿一覧</b>
    </div>
   </div>
</div>
<%= render "footer"%> 
