.error_explanation{
  display: flex;
  position: absolute;
  bottom: 11vh;
  margin-left: 1vw;
}

.error-message {
  font-size: 0.9vw;
  color: rgb(182, 48, 0);
}

.login-flash-message{
  display: flex;
  position: absolute;
  top: 30vh;
  font-size: 0.9vw;
  color: rgb(182, 48, 0);
}