.main{
  background-color: #FFA500;
  height: 90vh;
} 

.icon{
  width: 20.8vw;
  height: 21.7vh;
  border: 1px solid gray;
  border-radius: 10px;
  cursor: pointer;
}
.cooking-post{
  background-color: white;
  width: 80vw;
  height: 85vh;
  margin: auto;
}

.cooking-post-title{
  text-align: center;
  font-size: 30px;
  font-family: monospace;
  margin-left: 0.2vw;
}

.mandatory{
  color: red;
  margin-left: 10vw;
  text-decoration: underline;
}

.post-right-group{
  float: right;
  margin-top: 3vh;
  margin-right: 5vw;
}

.post-left-group{
  margin: 5vh 0 0 2vw;
}

.post-user-name{
  margin: 0 16vw 2vh 0;
  text-decoration: underline #8B0000;
}

.post-nickname{
  font-size: 18px;
  color: #8B0000;
}

.post-cook-name{
  margin: 2vh 20vw 0 0;
}

.post-name{
  margin: 0 10vw 2vh 0;
  text-align: center;
  width: 17vw;
}

.post-material{
  resize: none;
  width: 31.3vw;
  height: 16.5vh;
}

.post-cook-recipe{
  margin-top: 2vh;
}

.post-recipe{
  margin-bottom: 2vh;
  resize: none;
  width: 31.3vw;
  height: 25.2vh;
}

.post-point{
  resize: none;
  width: 45vh;
  height: 15.2vh;
}

.post-cook-contents{
  text-align: center;
}

.sell-btn{
  background: greenyellow;
  margin: 14px 0 15px 0;
  padding: 2px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.back-btn{
  text-decoration: none;
  margin-left: 48%;
  padding: 2px;
  border: solid 2px;
  background: ThreeDHighlight;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}