.show-main{
  display: flex;
}

.show-left-group{
  margin: 20vh 0 0 6vw;
}

.cooking-btn{
  text-align: center;
  margin: 30px;
  word-spacing: 100px;
  font-size: 20px;
}

.cooking-red-btn{
  
}

.cooking_destroy{

}


.show-right-group{
  margin: 6vh 5vw 0 auto;
  border: 3px solid #444444;
  font-size: 15px;
  height: 70vh;
  width: 55vw;
}

.show-cook{
  border: 3px solid #444444;
  text-align: center;
  padding: 10px;
  background: #CCCCCC;
  font-weight: 900;
  font-size: 20px;
  width: 16vw;
}

.show-value{
  border: 3px solid #444444;
  padding: 20px;
}

.show-image{
  width: 30vw;
  height: 40vh;
}

