.user-signin{
  position: absolute;
  background: #fff;
  opacity: 0.8;
  top: 13vh;
  left: 20vw;
  width: 60vw;
  height: 75vh;
  padding-top: 10vh;
}

.actionss{
  /* padding: 20px; */
  padding: 2.7vh 1.5vw 2.7vh 1.5vw;
  margin-left: 22.5vw;
}

.user-login{
  background: #00DD00;
  /* padding: 5px 40px 5px 40px; */
  padding: 0.6vh 3vw 0.6vh 3vw;
  border-radius: 6px;
}

.user-login-field{
  width: 20vw;
}