.top-page{
  display: flex;
  align-items: center;
  padding-left: 250px;
  background-color: #FFE4C4;
  height: 8vh;
}

.main-name{
width: 10vw;
font-size: 23px;
padding-left: 20px;
}

.main-title-name{
  text-decoration: none;
  color: black;
}

.cook-image{
  height: 6vh;
  width: 4vw;
  position: absolute;
  left: 28vw;
}

.lists-right {
display: flex;
position: absolute;
right: 10vw;
}


.logout {
  text-decoration: none;
  color: 	black;
}

.login {
  text-decoration: none;
  color: 	black;
}

.sign-up {
  text-decoration: none;
  color: 	black;
  margin-right: 3vw;
}

.user-name {
margin: 0 3vw;
text-decoration: none;
color: 	black;
}

.post{
  text-decoration: none;
  padding: 0.5em 1em;
  margin: 2em 0;
  border: double 5px #4ec4d3;
  color: blue;
}

footer {
  width: 100vw;
  background-color: #FFE4C4;
  color: black;
  text-align: center;
  height: 8vh;
  bottom: 0;
  position: absolute;
  padding-top: 22px;
}

.background{
  width: 100vw; 
  height: 90vh;
}

.main{
  position: relative;
}

.itiran{
  position: absolute;
  background: #fff;
  opacity: 0.8;
  width: 82vw;
  height: 75vh;
  top: 4vh;
  left: 10vw;
}

.title{
  border: double 4px orange;/*線*/
  position: absolute;
  margin-left: 33vw;
  font-size: 40px;
}

.cooking-image{
  width: 30vh;
  height: 20vh;
}

.cook-name{
  font-size: 2.5vh;
  margin-left: 3vw;
}