.top-page{
  display: flex;
  align-items: center;
  padding-left: 250px;
  background-color:	#FFE4C4;
  height: 8vh;
}

.main-name{
width: 10vw;
font-size: 23px;
padding-left: 20px;
}

.main-title-name{
  text-decoration: none;
  color: black;	
  font-size: 30px;
  font-family: 'Amatic SC', cursive;
}

.lists-right {
display: flex;
position: absolute;
right: 10vw;
}


.logout {
  text-decoration: none;
  color: 	black;
}

.login {
  text-decoration: none;
  color: 	black;
}

.sign-up {
  text-decoration: none;
  color: 	black;
  margin-right: 3vw;
}

.user-name {
margin: 0 3vw;
text-decoration: none;
color: 	black;
}

.post{
  text-decoration: none;
  color: #770000;
  font-size: 17px;
  font-weight: 900;
}

footer {
  width: 100vw;
  background-color: #FFE4C4;
  color: black;
  text-align: center;
  height: 8vh;
  bottom: 0;
  position: absolute;
  padding-top: 22px;
}

.background{
  width: 100vw; 
  height: 90vh;
}

.main{
  position: relative;
}

.itiran{
  position: absolute;
  background: #fff;
  opacity: 0.8;
  width: 82vw;
  height: 85vh;
  left: 9vw;
  top: 0.01vh;
}

.title{
  position: absolute;
  margin-left: 35vw;
  font-size: 35px;
  border: double 5px #770000;
  color: #770000;
  padding: 5px;
  top: 12px;
}

.cooking-lists{
  width: 90vw;
  display: flex;
  margin-top: 13vh;
  flex-wrap: wrap;
}

.link{
  text-decoration: none; 
}

.list{
  padding: 2vh 1vw 0 1vw;
}

.item-img{
  width: 14vw;
  height: 15vh;
}

.cook-name{
  font-size: 18px;
  padding-left: 70px;
  color: black;
}

.lists{
  margin: 23vh 0 0 33.5vw;
}

.cooking-kari-image{
  width: 14vw;
  height: 15vh;
}

.cooking-kari-name{
  font-size: 18px;
  margin-left: 2.5vw;